fastapi
uvicorn
mlflow
streamlit
torch
torchvision
langchain
langgraph
ipykernel
python-dotenv
langchain-groq
langchain-openai
langchain-community
streamlit
wikipedia
pypdf
pymupdf

sentence-transformers