sentence-transformers
numpy
python-multipart

langchain
langchain-community
langchain-groq
langchain-openai
langchain-google-genai
langchain-tavily
langgraph
google-genai

pypdf
llama-cloud==0.1.46
llama-cloud-services==0.6.94
python-dotenv

neo4j
langchain-neo4j
pinecone

fastapi
uvicorn
httpx